@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    45deg,
    #ff0000 21.43%,
    transparent 50.63%,
    transparent 100%,
     transparent 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    45deg,
    #b1b1b1 21.43%,
    #ff0000 50.63%,
    #ff0000 100%,
    transparent 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ff0000 21.43%,
    #b1b1b1 50.63%,
    /* #ff0000 100%, */
    #d5cfca 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

a.text-gradient {
  background: linear-gradient(45deg, #ff0000, #b1b1b1);
   background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

a.text-gradient:hover {
  background: linear-gradient(45deg, #b1b1b1, #ff0000);
   background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}

@layer base {
  body {
    @apply text-lg leading-8;
  }
  .h2 {
    @apply text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
  
}

